header {
    display: inline-flex;
    background-color: mediumseagreen;
    border-radius: 10%;
    align-self: center;
}

header img {
    margin: 20px;
}

footer {
    display: inline-block;
    background-color: mediumseagreen;
    border-radius: 10%;
    box-shadow: 5pt;
}

body {
    font-size: 1.5em;
}

